<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
       <p>
         do NOT consider and empty item, i.e., , , as an item towards to the count.
        </p>
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="name">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckIfTooMuch()">Check If Too Much</button>
             <br>
             <!-- <h3>{{name}}</h3> -->
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <h3>{{message}}</h3>
         </div>
   </div>

</body>
</html>
